@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Rubik+Spray+Paint&display=swap');

body {
    background: linear-gradient(to bottom, rgb(255, 226, 82), rgb(228, 138, 70));
    color: #fff;  
    font-family: 'Roboto Mono', monospace;
}

#title {
    font-family: 'Rubik Spray Paint', cursive;
    font-weight: normal;
    font-size: 40px;
    color: #b34223;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
  
  canvas {
    border: 3px solid #b34223;
    border-radius: 8px;
    background-color: #feff9d;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  button {
    background-color:  rgb(255, 226, 82);
    border-radius: 15px;
    border: 3px solid #b34223;
    color: #542a19;
    font-family: inherit;
    margin-top: 8px;
    padding: 5px;
    width: 80px;
  }
  /* button:not(:last-child) {
    margin-right: 10px;
  }
   */
  .messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
  }
  
  p {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  @media (max-width: 440px) {
    button { margin-top: 25px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }